# executables
ircserv
*.out

# valgrind outputs
valgrind*.txt

# Prerequisites
*.d

# VS Code
settings.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# 42Paris temporary files
.nfs*
